@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-fundo-body: #090b0e;
  --cor-fundo-divheader: #050709;
  --cor-fundo-card: #20262c;
  --cor-fundo-botao: #cbe200;
}

body {
  background-color: var(--cor-fundo-body);
}

.header-hero {
  display: flex;
  justify-content: center;
}

.header-hero_div {
  background-color: var(--cor-fundo-divheader);
  width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-hero_div_span {
  font-size: 3.4rem;
  text-transform: uppercase;
  padding: 1rem 0rem;
  color: white;
}

.header-hero_div_nav_lista {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .header-hero_div_nav_lista_item {
    a {
      display: inline-block;
      font-size: 1.6rem;
      color: white;
      text-decoration-line: none;
      padding: 2rem;
      border-radius: 0.5rem;
      transform: scale(1);
    }
    .planos {
      background-color: var(--cor-fundo-botao);
      color: black;

      &:hover {
        background-color: #0c1013;
        color: #cbe200;
        text-decoration-color: var(--cor-fundo-botao);
      }
    }

    a:hover {
      background-color: var(--cor-fundo-botao);
      color: black;
      text-decoration: underline var(--cor-fundo-body) solid;

      transition:
        transform 0.3s ease 1s,
        background-color 0.3s ease 0.1s;

      transform: scale(0.9);
    }
  }
}
/*******************/
.main-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
article {
  margin-top: 1rem;
  width: 80rem;
}

.main-hero_titulo-principal {
  font-size: 5.4rem;
  color: white;
  text-align: center;
  margin: 2rem 0rem;
}
.main-hero_section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-hero_section_card {
  display: flex;
  flex-direction: column;

  background-color: var(--cor-fundo-card);
  padding: 2rem;
  flex: 1 1 0;
}

.main-hero_section_card:hover{
    box-shadow: 1px 1px 10px var(--cor-fundo-botao);
    cursor: pointer;
}
.main-hero_section_card:hover > .main-hero_section_card_link:hover{
    background-color: rgb(82, 238, 82);
    outline: 2px solid black;
    box-shadow: 1px 1px 10px black;
}

.main-hero_section_card_titulo {
  h2 {
    font-size: 2.8rem;
    padding: 1rem 0rem;
    border-bottom: 2px solid var(--cor-fundo-botao);
    color: white;
  }
  span {
    font-size: 1.8rem;
    display: inline-block;
    padding: 1rem 0rem;
    font-weight: bold;
    color: white;
  }
}

.main-hero_section_card_list {
  list-style-type: disc;
  padding: 1rem;

  .main-hero_section_card_list_item {
    color: var(--cor-fundo-botao);
    p {
      font-size: 1.6rem;
      padding: 0.5rem 0rem;
      color: rgb(206, 206, 206);
    }
  }
}

.main-hero_section_card_link {
  display: block;
  margin-top: auto;
  background-color: var(--cor-fundo-botao);
  color: black;
  font-size: 1.6rem;
  text-decoration-line: none;
  padding: 1rem;
  text-align: center;
  font-weight: bold;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(0.95);
  }
}
