@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo-body: #7b3d3e;
  --cor-fundo-post: #eeeeee;
  --cor-titulo: #ddb3af;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--cor-fundo-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-hero {
  width: 80%;
}
.header-hero_titulo-principal {
  font-size: 3.4rem;
  color: var(--cor-titulo);
  text-align: center;
  margin-top: 4rem;
  padding: 1rem;
}

/*header*/

.main-hero {
  width: 80%;
  margin: 2rem;
}
.main-hero_div-row {
  display: flex;
  margin: 2rem;
  gap: 2rem;
}

.main-hero_div-row-article {
  background-image: linear-gradient(
    140deg,
    transparent 25px,
    var(--cor-fundo-post) 25px
  );
  padding: 3rem;
  filter: drop-shadow(1px 1px 5px black);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid black;
    border-top: transparent;
    border-left: transparent;
    position: absolute;
    top: 0;
    left: 3px;

    background-image: linear-gradient(140deg, transparent 50%, white 50%);
    filter: drop-shadow(1px 1px 10px black);
  }

  .main-hero_div-row-article_titulo-principal {
    font-size: 2.8rem;
    padding: 1rem;
    font-weight: 300;
    color: var(--cor-titulo);
  }
  .main-hero_div-row-article_paragrafo-principal {
    font-size: 1.6rem;
    padding: 0.5rem;
    line-height: 1.5;
    text-transform: capitalize;
  }
}
