@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo-header: #31333c;
  --cor-fundo-main: #454857;
  --cor-titulo-principal: #a2a5b1;
  --cor-titulos: #f77a42;
  --cor-letras: white;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  background: url(/imagens/bg-unsplash.png) center bottom / cover no-repeat;
}

.header-hero {
  background-color: rgba(49, 51, 60, 0.8);
  min-width: 20%;
}

.header-hero_div-central {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  flex: 1;

  margin-top: 7rem;
  position: fixed;
  min-width: 20%;
}

.header-hero_div-central_div-img {
  .link-img {
    display: flex;
    justify-content: flex-end;
  }

  img {
    width: 10rem;
    display: block;
    padding: 1rem;
  }
}

.header-hero_div-central_navegacao {
  width: 100%;
  text-align: right;
}

.header-hero_div-central_navegacao_lista {
  list-style-type: none;

  .header-hero_div-central_navegacao_lista_item {
    margin-left: 1rem;

    .header-hero_div-central_navegacao_lista_item_link {
      color: var(--cor-letras);
      font-size: 1.6rem;
      padding: 1.4rem;
      display: block;
      text-transform: uppercase;
      text-decoration-line: none;

      border-bottom: 0.1rem solid rgb(184, 184, 184);

      transition:
        transform 0.3s ease,
        text-decoration 0.3s ease 0.1s;

      &:hover {
        background-color: var(--cor-fundo-main);
        transform: scale(0.95);
        text-decoration: underline solid white;
      }
    }
  }
}
/*************************************/
.main-hero {
  display: flex;
  flex-direction: column;
  background-color: rgb(69, 72, 87, 0.7);
  flex: 1;
}
.main-hero_article {
  padding: 2rem;
}
.main-hero_article_titulo-principal {
  font-size: 3.8rem;
  color: var(--cor-titulo-principal);
  padding: 2rem 0rem;
  text-transform: capitalize;
}
.main-hero_article_section1 {
  padding-left: 2rem;
  border-left: 0.2rem solid var(--cor-titulos);

  .main-hero_article_section1_titulo {
    color: var(--cor-titulos);
    font-size: 2.8rem;
    padding: 1rem 0rem;
  }
  .main-hero_article_section1_titulo_paragrafo {
    color: white;
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
}
.main-hero_article_section2 {
  width: 75%;
}
.main-hero_article_section2_titulo {
  font-size: 2rem;
  padding: 1rem 0rem;
  color: var(--cor-titulos);
}

.main-hero_article_section2_img {
  display: block;
  width: 100%;
}
h4 {
  font-size: 1.8rem;
  padding: 1rem 0rem;
  color: var(--cor-titulos);
}
p {
  font-size: 1.6rem;
  color: white;
}
.main-hero_article_section2_div-informations {
  padding: 1rem;
  background-color: var(--cor-fundo-header);
}

.main-hero_article_section3_divz {
  display: flex;
  gap: 1rem;
}
