a[href="http://serfrontend.com"] {
  background-color: red;
  padding: 0.5rem;
  display: inline-block;
  color: yellow;

  &::after {
    content: url(imagens/newWindow-icon.png);
    margin-left: 0.2rem;
  }
}

a[href="qq.pdf"] {
  background-color: lime;
  color: black;
  display: inline-block;
  padding: 0.5rem;
  margin-top: 1rem;

  &::before {
    content: url("imagens/pdf-icon.gif");
    margin-right: 0.2rem;
  }
}

input[name="chk1"]:checked + label[for="chk1"] {
  background-color: black;
  color: lime;
  outline: 2px solid lime;
  cursor: pointer;
  padding: 0.5rem;
}

input[name="chk1"]:not(:checked) + label[for="chk1"] {
  background-color: black;
  color: red;
  outline: 2px solid red;
  cursor: pointer;
  padding: 0.5rem;
}

input[name="chk2"]:disabled + label[for="chk2"] {
  background-color: black;
  color: aqua;
  outline: 2px solid aqua;
}

h1 + ol > li:nth-of-type(3) {
  border: 2px solid lime;
}

h1 + ol > li:nth-of-type(3) > ol > li:nth-of-type(3) {
  border: 2px solid lime;
}

h1 + ol > li:nth-of-type(3) > ol > li:nth-of-type(4) > ul > li:nth-of-type(3) {
  border: 2px solid lime;
}
