@charset "UTF-8";

.tabela {
  width: 500px;
  margin: 5% auto;
  border-collapse: collapse;
}
th,
td {
  padding: 1rem;
}
th {
  font-size: 2.4rem;
  text-transform: uppercase;
}
td {
  text-transform: capitalize;
}
tr:nth-of-type(odd) > td {
  background-color: rgb(194, 194, 194);
}
input {
  cursor: pointer;
}
tr:has(td:first-of-type > input[type="checkbox"]:checked) > td {
  background-color: black;
  color: lime;
  border-color: lime;
}
