@charset "UTF-8";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /*text-colors*/
  --primary-color: #291b1a;
  --secondary-color: #573a37;
  --bg-color: #f0e8c2;

  /*Tipografia*/
  --family: "Alice";
  --heading1-size: 4rem;
  --heading1-line-height: 140%;
  --heading1-weight: regular;

  --heading2-size: 2.4rem;
  --heading2-lineheight: 150%;
  --heading2-weight: regular;

  --paragrafo-size: 1.6rem;
  --paragrafo-line-height: 150%;
  --paragrafo-weight: Regular;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  background-image: url(imagens/fundo.jpg);
  background-repeat: no-repeat;
  font-size: cover;
  background-attachment: fixed;
}
p,
li {
  color: var(--secondary-color);
}
/***/
#header-hero {
  background-color: var(--bg-color);
  width: 70%;
  margin: 4.8rem auto 0rem;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 2rem;
}

.header-hero_div-imagem {
  width: 100%;
  text-align: center;
  img {
    display: inline-block;
    width: 100%;
    border-radius: 1rem;
  }
}
#titulo-principal {
  color: var(--primary-color);
  font-family: var(--family);
  font-size: var(--heading1-size);
  line-height: var(--heading1-line-height);
  font-weight: var(--heading1-weight);
}
/***/

/***/
#main-hero {
  background-color: var(--bg-color);
  width: 70%;
  margin: auto;
  padding: 2rem;
  border-radius: 0rem 0rem 1rem 1rem;
}
#igredientes {
  margin: 0;
  color: var(--primary-color);
  font-family: var(--family);
  font-size: var(--heading2-size);
  font-weight: var(--heading2-weight);
  line-height: var(--heading2-lineheight);
}
.ingredientes-da-lista {
  font-family: var(--family);
  font-size: var(--paragrafo-size);
  font-weight: var(--paragrafo-weight);
  line-height: var(--heading2-lineheight);
}
#preparo {
  color: var(--primary-color);
  font-size: var(--heading2-size);
  font-family: var(--family);
  font-weight: var(--heading2-weight);
  line-height: var(--heading2-lineheight);
}
.paragrafo-preparo {
  font-family: var(--family);
  font-size: var(--paragrafo-size);
}
.paragrafo-principal {
  font-size: var(--paragrafo-size);
}
/***/
#footer-hero {
  width: 70%;
  margin: auto;
  text-align: center;
}
.footer-hero_paragrafo {
  margin-bottom: 0rem;
  padding: 4rem;
  font-family: var(--family);
  font-size: var(--paragrafo-size);
  color: wheat;

  img{
    vertical-align: middle;
  }
}
