@charset "UTF-8";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brande-color: #ef5f4c;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --heading1-size: 3.2rem;
  --heading1-line: 125%;
  --heading1-weight: bold;

  --paragraph-md-size: 1.6rem;
  --paragraph-md-line: 170%;
  --paragraph-md-weight: Regular;

  --paragraph-sm-size: 1.4rem;
  --paragraph-sm-line: 170%;
  --paragraph-sm-weight: Regular;
}

html {
  font-family: "Poppins";
  font-size: 62.5%;
}

/*Header Start*/
.dizinha {
  background: var(--surface-color);
}
#header-hero {
  background-color: var(--surface-color);
  max-width: 128rem;
  margin: 0 auto;
}

.div-navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.2rem;
}
.imagem-logo {
  display: block;
}
.imagem-miniperfil {
  width: 4rem;
  display: block;
}

.list-navegation {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  list-style-type: none;
}

.list-navegation_item > a {
  color: var(--text-color-secondary);
  font-size: var(--paragraph-md-size);
  font-weight: var(--paragraph-md-weight);
  line-height: var(--paragraph-md-line);

  text-decoration-color: transparent;
}
.list-navegation_item > a:hover {
  text-decoration-color: var(--text-color-secondary);
}
/*Header End*/

/*Start Main*/
#main-hero {
  max-width: 128rem;
  background-color: var(--surface-color);
  margin: 0 auto;
}
/*Start informations main*/
.main-hero_article-abount_informations {
  display: flex;
  align-items: center;
  padding: 3.2rem;
}

.div-informations-profile {
  display: flex;
  align-items: center;
  flex: 1;

  & > img {
    display: block;
    margin-right: 3.2rem;
  }
}

#main-heading {
  font-size: var(--heading1-size);
  font-weight: var(--heading1-weight);
  line-height: var(--heading1-line);
  color: var(--text-color-primary);
  margin-bottom: 0.8rem;
}
#main-paragraph {
  font-size: var(--paragraph-sm-size);
  font-weight: var(--paragraph-sm-weight);
  line-height: var(--paragraph-sm-line);
  color: var(--text-color-secondary);
}

.div-informations-viagens {
  display: flex;
  justify-content: center;
  flex: 1;
}
.list-viagens {
  list-style-type: none;
}
.list-viagens-itens {
  display: flex;
}

.list-viagens-itens {
  margin-bottom: 1.6rem;
}
.list-viagens-itens_paragraph {
  font-size: var(--paragraph-sm-size);
  font-weight: var(--paragraph-md-weight);
  line-height: var(--paragraph-sm-line);
  color: var(--text-color-secondary);
  margin-left: 0.8rem;
}
/*End informations main*/
/*Start Gallery Main*/
.gallery {
  background-color: var(--skeleton-color);
  img{
    display: block;
  }
}
#footer-hero {
  max-width: 128rem;
  margin: 0 auto;
  padding: 3.2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-color);
}

.footer-hero_paragraph {
  padding: 0.4rem;
  font-size: var(--paragraph-sm-size);
  font-weight: var(--paragraph-sm-weight);
  line-height: var(--paragraph-sm-line);
  color: var(--text-color-secondary);
}
.footer-hero_div {
  display: flex;
  gap: 1.6rem;

  p > a {
    padding: 0.4rem;
    font-size: var(--paragraph-sm-size);
    font-weight: var(--paragraph-sm-weight);
    line-height: var(--paragraph-sm-line);
    color: var(--text-color-secondary);
  }
}
