@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --degrade: to right, #081923, #122533, #142a38, #0b1c26, #030a10, #000103;
  --background-top-header: #162028;
  --cor-do-texto-no-menu: #425564;
  --cor-dos-textos: #555;
  --cor-de-fundo-do-box-com-imagem-de-detalhe: #003d52;
  --cor-de-fundo-do-footer: #0b171f;
  --cor-de-texto-do-footer: #6f8597;
}

.header-hero {
  background: url(imagens/topo.jpg) center center / cover no-repeat;
  height: 56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-hero_div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .header-hero_div_logo {
    color: rgba(255, 255, 255, 0.781);
    font-size: 4.8rem;
  }
}

.header-hero_div_navegacao_lista {
  list-style-type: none;
  display: flex;
  gap: 2rem;

  .header-hero_div_navegacao_lista_item {
    a {
      font-size: 1.6rem;
      text-transform: uppercase;
      text-decoration-line: none;
      color: var(--cor-de-texto-do-footer);
      padding: 2rem;

      &:hover {
        color: black;
        text-decoration: underline solid rgba(0, 0, 0, 0.452);
        background-color: var(--cor-do-texto-no-menu);
      }
    }
  }
}

/*Main*/

.main-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-hero_article1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero_article1_div {
  padding: 3rem 0rem 0rem;
  width: 80%;
}

.main-hero_article1_div_titulo-principal {
  font-size: 3.4rem;
  text-align: center;
  margin: 3rem 0rem;
  color: var(--cor-dos-textos);
  font-weight: 400;
}
.main-hero_article1_div_paragrafo-principal {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.5;
  color: var(--cor-dos-textos);
  margin: 0rem 0rem 3rem;
}

/*section*/
.main-hero_article1_section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-hero_article1_section_div {
  flex: 1;
  margin-bottom: 2rem;
}
.main-hero_article1_section_div_imagem {
  width: 100%;
  display: inline-block;
}
.main-hero_article1_section_div_nome {
  text-align: center;
  padding: 1rem;
  font-size: 2.4;
  text-transform: uppercase;
}
.main-hero_article1_section_div_paragrafo {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.main-hero_article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    url(imagens/bg_detalhe.png) bottom right no-repeat,
    var(--cor-de-fundo-do-box-com-imagem-de-detalhe);
}
.main-hero_article2_div {
  width: 80%;
  margin-top: 3rem;
  padding: 2rem;
}

.main-hero_article2_titulo-principal {
  font-size: 5.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.712);
  padding: 2rem;
}
.main-hero_article2_paragrafo-principal {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.856);
  padding: 2rem;
  width: 60%;
  text-align: left;
  line-height: 1.5;
}
.footer-hero {
  background-color: var(--cor-de-fundo-do-footer);
  padding: 2rem;
  text-align: center;

  .footer-hero_paragrafo-principal{
    font-size: 1.6rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    font-weight: 300;
  }
}
