@charset "UTF-8";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --cor-letras-menu: #f4d30d;
  --cor-bordas-menu: #f4d30d;
  --cor-fundo-header: #2a2a2a;
  --gradiante-fundo-section1:
    to bottom, #fffffc, #ffffd4, #ffff93, #ffff5e, #ffff3d;
  --cor-fundo-section3: #003464;
}

.header-hero {
  background-color: var(--cor-fundo-header);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-hero_div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-hero_div_nav_lista {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.header-hero_div_nav_lista_item_link {
  font-size: 1.6rem;
  color: var(--cor-letras-menu);
  border: 1px solid var(--cor-bordas-menu);
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration-line: none;

  &:hover {
    background-color: black;
    text-decoration: underline solid var(--cor-bordas-menu);
  }
}
/***MAIN****/
.main-hero_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--gradiante-fundo-section1));
}
.main-hero_section1_divz {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    flex: 1;
  }
}

.main-hero_section1_div-titulo-principal_titulo {
  font-size: 5.4rem;
  span {
    text-transform: uppercase;
  }
}

.main-hero_section1_div-titulo-principal-link {
  font-size: 1.6rem;
  padding: 2rem 4rem;
  background-color: var(--cor-bordas-menu);
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--cor-fundo-header);
  margin-top: 3rem;
  border: 0.2rem solid black;

  &:hover {
    background-color: black;
    color: var(--cor-bordas-menu);
    outline: 0.2rem double var(--cor-bordas-menu);
  }
}

.main-hero_section1_div-img_img {
  width: 100%;
}
/**********************************************/
.main-hero_section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-hero_section2_titulo {
  font-size: 3.4rem;
  margin: 2rem;
  padding: 2rem;
  text-transform: capitalize;
}
.main-hero_section2_div {
  width: 80%;
  display: flex;
  gap: 1rem;

  .main-hero_section2_article > img {
    width: 100%;
    display: block;
  }
}

.main-hero_section2_article {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.384);
  border-radius: 0.9rem 0.9rem 0px 0px/ 0.9rem 0.9rem 0px 0px;
  overflow: hidden;

  transition: transform 0.3s ease;
  &:hover {
    cursor: pointer;
    transform: scale(0.95);
  }

  flex: 1;

  .main-hero_section2_article_div {
    flex: 1;

    .main-hero_section2_article_titulo {
      font-size: 1.8rem;
      padding: 1rem 1rem;
    }
    .main-hero_section2_article_paragrafo {
      font-size: 1.6rem;
      padding: 1rem;
      color: rgb(94, 92, 92);
      line-height: 1.9rem;
    }
  }
}

.main-hero_section2_botao {
  font-size: 1.6rem;
  padding: 2rem 4rem;
  background-color: var(--cor-bordas-menu);
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--cor-fundo-header);
  margin-top: 3rem;
  border: 0.2rem solid black;
  &:hover {
    background-color: black;
    color: var(--cor-bordas-menu);
    outline: 0.2rem double var(--cor-bordas-menu);
  }
}

.main-hero_section3 {
  background-color: var(--cor-fundo-section3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.main-hero_section3_divz {
  width: 80%;
  display: flex;
  gap: 5rem;

  & > * {
    flex: 1;
  }
}
.main-hero_section3_div {
  img {
    width: 100%;
    display: block;
  }
}
.main-hero_section3_div_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-hero_section3_div_article_titulo {
    font-size: 3.4rem;
    color: white;
    padding: 1rem;
    margin: 1rem;
  }

  .main-hero_section3_div_article_paragrafo {
    font-size: 1.6rem;
    color: white;
    line-height: 2.5rem;
    text-align: center;
  }
}
