*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --corfundo-tituloprincipal: #acafd4;
  --corletra-tituloprincipal: #1b328b;
  --corfundo-titulosecundário: #b6b6b6;
  --corfundo-body: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--corfundo-body);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:where(.main-hero, .header-hero) {
  width: 80%;
}

section {
  margin-top: 3rem;
}
h1 {
  font-size: 3.8rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--corfundo-tituloprincipal);
  color: var(--corletra-tituloprincipal);
}

span {
  color: #2c3fe3;
}

.paragrafo-principal {
  padding: 0.5rem 0;
  font-size: 1.6rem;
  text-align: center;
  background-color: #bbbfde;
}
nav > ul:first-of-type {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0rem;
  gap: 1rem;
}

.gitz {
  padding: 1rem 0rem;
  font-size: 2rem;
}

.linkezin {
  padding: 1rem 0rem;
  font-size: 2rem;
  color: #1c3dc4;
}
.youtube {
  color: red;
  padding: 1rem 0rem;
  font-size: 2rem;
}
nav > ul > li > a {
  background-color: #fffafc;
  padding: 1rem;
  color: black;
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
    text-decoration-color: #f8f8f8;
    text-decoration-style: solid;
    background-color: #242323;
    color: #bec0c7;
  }
}

h2 {
  font-size: 2.4rem;
  padding: 1rem 0rem;
  color: var(--corletra-tituloprincipal);
  background-color: var(--corfundo-titulosecundário);
  border-bottom: 2px solid var(--corletra-tituloprincipal);
}

h3 {
  font-size: 1.8rem;
  padding: 1rem 0rem;
}

h4 {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
p {
  padding: 1rem 0rem;
  font-size: 1.6rem;
}

ul {
  list-style-position: inside;
  li {
    font-size: 1.6rem;
    padding: 0.5rem 0rem;
  }
}
